<%- include("./inc/head.ejs", { title: "Home" }) %>

<div class="index__wrapper wrapper">
  <header class="index__header text-center text-light my-4">
    <h1 class="mb-4"><a class="disable-styles" href="/">Todo List</a></h1>
  </header>
  <main class="main text-center">
    <div class="task__row row">
      <div class="task__col col">
        <ul class="list-group todos mx-auto text-light delete">
          <li
            class="item list-group-item d-flex justify-content-between align-items-center"
            id="task-<%= task._id %>"
          >
            <!-- top -->
            <div class="top">
              <!-- left -->
              <div class="left">
                <span><%= task.title %></span>
              </div>
              <!-- right -->
              <div class="right">
                <form
                  id="complete-form-<%= task._id %>"
                  action="/<%= task._id  %>?_method=PATCH"
                  method="post"
                  class="complete-form"
                >
                  <input type="hidden" name="id" value="<%= task._id %>" />
                  <button type="submit" class="delete-submit button-action">
                    <% if(task.completed){ %>
                    <i class="fas fa-check-square checkbox active ms-4"></i>
                    <% } else { %>
                    <i class="far fa-square checkbox inactive ms-4"></i>
                    <% } %>
                  </button>
                </form>

                <form
                  id="delete-form-<%= task._id %>"
                  action="/<%= task._id  %>?_method=DELETE"
                  method="post"
                  class="delete-form"
                >
                  <input type="hidden" name="id" value="<%= task._id %>" />
                  <button type="submit" class="delete-submit button-action">
                    <i class="far fa-trash-alt delete ms-4"></i>
                  </button>
                </form>
              </div>
            </div>
            <!-- middle  -->
            <div class="middle">
              <% if(task.description.length > 35){ %>
              <p><%= task.description.substring(0, 35) %>.....</p>
              <% } else { %>
              <p><%= task.description %></p>
              <% } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="task__col col">
      <form
        class="update text-center my-4"
        action="/<%= task.id %>"
        method="post"
      >
        <label class="text-light">Update task</label>
        <input
          class="form-control m-auto mb-3"
          type="text"
          name="title"
          placeholder="TITLE"
        />
        <input
          class="form-control m-auto"
          type="text"
          name="description"
          placeholder="DESCRIPTION"
        />
        <br />
        <div class="text-center">
          <input type="submit" class="btn btn-light" />
        </div>
      </form>
    </div>
  </main>
</div>

<%- include("./inc/footer.ejs") %>
